@charset "UTF-8";


body {
        background-color: rgb(115, 236, 245);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
}
h1 {
    
    color: rgb(4, 0, 255);
    background-color: rgb(85, 169, 248);
}
h2 {
    color: rgb(255, 0, 0);
}
p {
    text-align: justify;
}